<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team4of5.foodspotting">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OrderManagerActivity"></activity>
        <activity android:name=".shipper.ShipperAppActivity" />
        <activity android:name=".shipper.RegisterShipperActivity" />
        <activity android:name=".FoodOwnerActivity" />
        <activity android:name=".ResInfoActivity" />
        <activity android:name=".OwnerAppActivity" />
        <activity android:name=".RegisterOwnerActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".EmailLoginActivity" />
        <activity android:name=".UserInformationActivity" />
        <activity android:name=".restaurant.Restaurent" />
        <activity android:name=".rating.Rate" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>